<div class="container">
  <div class="row">
    <div class="text-center col-4 kek">
      <form action="/answer" method="get">
        <div class="form-group">
          <label for="question">Who is the best student at LeWagon?</label>
          <input type="text" class="form-control input-lg" id="question" name="question" placeholder="Give me a name...">
        </div>
        <button type="submit" class="btn btn-primary">Magic!</button>
      </form>
    </div>
  </div>
</div>
